<a href="https://colab.research.google.com/github/eduardagoulart/pandas_study/blob/master/introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First steps with pandas

In [0]:
import pandas as pd

In [0]:
### read a csv file
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [8]:
### check type
type(df)

pandas.core.frame.DataFrame

In [18]:
### number of rows vs number of columns
df.shape
### Doesn't have parameters since it's an attribute of the DataFrame, and not a 
### function or method

(17000, 9)

In [14]:
### look at which information our dataframe contains
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

## Curiosity about types
each Series has to be the same type, whereas each row can contain mixed 
types

In [23]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

in this example we can see all the columns has the same type, but it's possible that each Serie has different types

In [25]:
# getting more information about our data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
longitude             17000 non-null float64
latitude              17000 non-null float64
housing_median_age    17000 non-null float64
total_rooms           17000 non-null float64
total_bedrooms        17000 non-null float64
population            17000 non-null float64
households            17000 non-null float64
median_income         17000 non-null float64
median_house_value    17000 non-null float64
dtypes: float64(9)
memory usage: 1.2 MB

## Pandas Types vs Python Types

object -> string: it's all text data

int64 -> int: whole numbers

float64 -> float: decimal numbers

datetime64 -> datetime: needs to import in Python, it's not a standard lib