In [1]:
import pandas as pd

In [2]:
game = pd.read_csv("./datasets/nba/games.csv")
game_details = pd.read_csv("./datasets/nba/games_details.csv")
players = pd.read_csv("./datasets/nba/players.csv")
ranking = pd.read_csv("./datasets/nba/ranking.csv")
teams = pd.read_csv("./datasets/nba/teams.csv")

In [3]:
game.sample(3)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
6857,2011-01-01,21000485,Final,1610612741,1610612739,2010,1610612741,100.0,0.438,0.781,...,21.0,45.0,1610612739,91.0,0.402,0.840,0.222,19.0,40.0,1
7188,2010-11-17,21000166,Final,1610612759,1610612741,2010,1610612759,103.0,0.482,0.682,...,24.0,50.0,1610612741,94.0,0.424,0.714,0.353,17.0,42.0,1
15312,2005-01-20,20400571,Final,1610612753,1610612745,2004,1610612753,99.0,0.486,0.771,...,18.0,37.0,1610612745,108.0,0.420,0.848,0.316,17.0,45.0,0

In [4]:
game_details.sample(3)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
525476,21400542,1610612760,OKC,Oklahoma City,201566,Russell Westbrook,G,NaN,37:30,9.0,...,1.0,3.0,4.0,12.0,3.0,0.0,3.0,3.0,25.0,22.0
89380,40700114,1610612765,DET,Detroit,1497,Chauncey Billups,G,NaN,40:42,4.0,...,1.0,5.0,6.0,7.0,2.0,0.0,3.0,2.0,18.0,4.0
423479,21700218,1610612764,WAS,Washington,202693,Markieff Morris,F,NaN,23:52,3.0,...,0.0,5.0,5.0,4.0,3.0,1.0,2.0,1.0,7.0,-5.0

In [5]:
players.sample(3)

          PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
833   Darren Collison  1610612754     201954    2018
4712    DeSagana Diop  1610612739       2205    2013
5835     Earl Boykins  1610612745       1863    2011

In [26]:
ranking.sample(3)

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
81807,1610612743,0,22018,2018-10-21,West,Denver,3,3,0,1.000,2-0,1-0,NaN
113399,1610612754,0,22012,2013-01-14,East,Indiana,38,23,15,0.605,15-3,8-12,NaN
47827,1610612742,0,22008,2008-11-26,West,Dallas,14,7,7,0.500,2-4,5-3,NaN

In [7]:
teams.sample(3)

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
11,0,1610612750,1989,2019,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
24,0,1610612763,1995,2019,MEM,Grizzlies,1995,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle

### PROBLEMA

Queremos agora saber qual time marcou o mais pontos num jogo na season 2017

In [8]:
game.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

In [9]:
game_details.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS', 'PLUS_MINUS'],
      dtype='object')

In [10]:
game_per_season = game[["GAME_ID", "HOME_TEAM_ID", "VISITOR_TEAM_ID", "SEASON", "PTS_home", "PTS_away"]]

In [11]:
game_per_season.sample(3)

        GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID  SEASON  PTS_home  PTS_away
223    22000895    1610612759       1610612765    2020     106.0      91.0
21326  21600424    1610612763       1610612738    2016     109.0     112.0
3619   21201208    1610612742       1610612763    2012      97.0     103.0

In [12]:
game_season_2017 = game_per_season.loc[game_per_season["SEASON"] == 2017]

In [13]:
game_season_2017.sample(3)

        GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID  SEASON  PTS_home  PTS_away
19088  41700201    1610612761       1610612739    2017     112.0     113.0
19193  21701180    1610612743       1610612750    2017     100.0      96.0
19545  21700818    1610612755       1610612740    2017     100.0      82.0

In [14]:
game_season_2017_max_home = max(game_season_2017["PTS_home"])
game_season_2017_max_away = max(game_season_2017["PTS_away"])

In [15]:
game_season_2017_max_home

149.0

In [16]:
game_season_2017_max_away

148.0

a maior pontuaÃ§Ã£o marcada em um jogo foi de 149.0 pontos. Agora vamos descobrir qual time fez essa pontuaÃ§Ã£o

In [17]:
game_season_2017_team = game_season_2017.loc[game_season_2017["PTS_home"] == 149.0]

In [18]:
game_season_2017_team

        GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID  SEASON  PTS_home  PTS_away
19316  21701054    1610612748       1610612743    2017     149.0     141.0

In [19]:
teams_data = teams[["TEAM_ID", "ABBREVIATION", "NICKNAME", "CITY"]]

In [20]:
game_season_2017_team = game_season_2017_team.merge(teams_data, left_on="HOME_TEAM_ID", right_on="TEAM_ID", how="left")

In [21]:
game_season_2017_team

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,PTS_away,TEAM_ID,ABBREVIATION,NICKNAME,CITY
0,21701054,1610612748,1610612743,2017,149.0,141.0,1610612748,MIA,Heat,Miami

Agora conseguimos saber que o time "Miami Heat" foi o time que marcou o maior placar na temporada 2017.
Mas agora, curiosidade, qual o time que mais marcou na temporada? somando todos os jogos

In [22]:
game_season_2017_all_games = game_season_2017.merge(teams_data, left_on="HOME_TEAM_ID", right_on="TEAM_ID", how="left")

In [23]:
game_season_2017_all_games.sample()

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,PTS_away,TEAM_ID,ABBREVIATION,NICKNAME,CITY
22,41700204,1610612739,1610612761,2017,128.0,93.0,1610612739,CLE,Cavaliers,Cleveland

In [24]:
game_season_2017_all_games = game_season_2017_all_games.merge(teams_data, left_on="VISITOR_TEAM_ID", right_on="TEAM_ID", how="left", suffixes=("_home", "_visitors"))

In [25]:
game_season_2017_all_games.sample(3)

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,PTS_away,TEAM_ID_home,ABBREVIATION_home,NICKNAME_home,CITY_home,TEAM_ID_visitors,ABBREVIATION_visitors,NICKNAME_visitors,CITY_visitors
1206,21700115,1610612762,1610612757,2017,112.0,103.0,1610612762,UTA,Jazz,Utah,1610612757,POR,Trail Blazers,Portland
59,41700173,1610612762,1610612760,2017,115.0,102.0,1610612762,UTA,Jazz,Utah,1610612760,OKC,Thunder,Oklahoma City
895,21700413,1610612737,1610612765,2017,91.0,105.0,1610612737,ATL,Hawks,Atlanta,1610612765,DET,Pistons,Detroit

In [33]:
home_group = game_season_2017_all_games.groupby("TEAM_ID_home", as_index=False).agg({"PTS_home": "sum"})
home_group = home_group.rename(columns={"PTS_home": "PTS", "TEAM_ID_home": "TEAM_ID"})
home_group.sample()

      TEAM_ID     PTS
2  1610612739  5998.0

In [34]:
visitors_group = game_season_2017_all_games.groupby("TEAM_ID_visitors", as_index=False).agg({"PTS_away": "sum"})
visitors_group = visitors_group.rename(columns={"PTS_away": "PTS", "TEAM_ID_visitors": "TEAM_ID"})
visitors_group.sample()

       TEAM_ID     PTS
10  1610612747  4593.0

In [36]:
team_point = pd.concat([home_group, visitors_group])
team_point.sample()

      TEAM_ID     PTS
2  1610612739  5998.0

In [38]:
team_point = team_point.groupby("TEAM_ID", as_index=False).agg({"PTS": "sum"})

In [40]:
team_point.sample()

      TEAM_ID      PTS
2  1610612739  11812.0

In [41]:
max_point = max(team_point["PTS"])

In [42]:
max_point

12079.0

In [44]:
team_point_max = team_point.loc[team_point["PTS"] == 12079.0]
team_point_max

      TEAM_ID      PTS
7  1610612744  12079.0

In [45]:
team_point_max = team_point_max.merge(teams_data, on="TEAM_ID", how="left")

In [46]:
team_point_max

      TEAM_ID      PTS ABBREVIATION  NICKNAME          CITY
0  1610612744  12079.0          GSW  Warriors  Golden State

Com isso podemos concluir que o time dos Golden State Warrior foi o time com maior some de pontos em toda a temporada de 2017

In [47]:
team_point.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TEAM_ID  30 non-null     int64
 1   PTS      30 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 720.0 bytes

In [48]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB