In [1]:
import pandas as pd

In [2]:
game = pd.read_csv("./datasets/nba/games.csv")
game_details = pd.read_csv("./datasets/nba/games_details.csv")
players = pd.read_csv("./datasets/nba/players.csv")
ranking = pd.read_csv("./datasets/nba/ranking.csv")
teams = pd.read_csv("./datasets/nba/teams.csv")

In [3]:
game.sample(3)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
5444,2012-03-05,21100555,Final,1610612764,1610612744,2011,1610612764,100.0,0.424,0.556,...,25.0,47.0,1610612744,120.0,0.542,0.938,0.652,27.0,47.0,0
16677,2004-01-11,20300526,Final,1610612745,1610612738,2003,1610612745,93.0,0.438,0.786,...,23.0,45.0,1610612738,97.0,0.471,0.880,0.500,26.0,33.0,0
5282,2012-03-25,21100722,Final,1610612737,1610612762,2011,1610612737,139.0,0.449,0.787,...,29.0,64.0,1610612762,133.0,0.389,0.829,0.286,28.0,64.0,1

In [4]:
game_details.sample(3)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
374399,21800756,1610612738,BOS,Boston,1627759,Jaylen Brown,NaN,NaN,29:37,10.0,...,1.0,9.0,10.0,2.0,1.0,0.0,2.0,1.0,24.0,19.0
132226,20600885,1610612758,SAC,Sacramento,722,Corliss Williamson,NaN,NaN,15:42,2.0,...,2.0,0.0,2.0,1.0,0.0,0.0,1.0,1.0,4.0,2.0
390535,21800124,1610612750,MIN,Minnesota,201959,Taj Gibson,F,NaN,24:08,5.0,...,2.0,1.0,3.0,3.0,0.0,0.0,0.0,3.0,12.0,-7.0

In [5]:
players.sample(3)

         PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
1586     Jake Layman  1610612757    1627774    2017
2858    Allen Crabbe  1610612757     203459    2015
5594  Jared Jeffries  1610612752       2407    2011

In [7]:
ranking.sample()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
142033,1610612753,0,12007,2007-10-24,East,Orlando,6,5,1,0.833,3-1,2-0,NaN

In [7]:
teams.sample(3)

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
11,0,1610612750,1989,2019,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
24,0,1610612763,1995,2019,MEM,Grizzlies,1995,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle

### PROBLEMA

Queremos agora saber qual time marcou o mais pontos num jogo na season 2017

In [8]:
game.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

In [9]:
game_details.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS', 'PLUS_MINUS'],
      dtype='object')

In [14]:
game_per_season = game[["GAME_ID", "HOME_TEAM_ID", "VISITOR_TEAM_ID", "SEASON", "PTS_home", "PTS_away"]]

In [15]:
game_per_season.columns

Index(['GAME_ID', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'SEASON', 'PTS_home',
       'PTS_away'],
      dtype='object')

In [16]:
game_per_season.sample(3)

        GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID  SEASON  PTS_home  PTS_away
7815   20900959    1610612742       1610612751    2009      96.0      87.0
22926  21500232    1610612745       1610612755    2015     116.0     114.0
22914  21500239    1610612764       1610612761    2015      82.0      84.0

In [17]:
game_season_2017 = game_per_season.loc[game_per_season["SEASON"] == 2017]

In [18]:
game_season_2017.sample(3)

        GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID  SEASON  PTS_home  PTS_away
19547  21700820    1610612738       1610612754    2017      91.0      97.0
20195  21700172    1610612760       1610612746    2017     120.0     111.0
19069  41700303    1610612739       1610612738    2017     116.0      86.0

In [19]:
game_season_2017["SEASON"].unique()

array([2017])

In [14]:
game_season_2017_max_home = max(game_season_2017["PTS_home"])
game_season_2017_max_away = max(game_season_2017["PTS_away"])

In [15]:
game_season_2017_max_home

149.0

In [16]:
game_season_2017_max_away

148.0

a maior pontuaÃ§Ã£o marcada em um jogo foi de 149.0 pontos. Agora vamos descobrir qual time fez essa pontuaÃ§Ã£o

In [20]:
game_season_2017_team = game_season_2017.loc[game_season_2017["PTS_home"] == 149.0]

In [21]:
game_season_2017_team

        GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID  SEASON  PTS_home  PTS_away
19316  21701054    1610612748       1610612743    2017     149.0     141.0

In [22]:
teams_data = teams[["TEAM_ID", "ABBREVIATION", "NICKNAME", "CITY"]]

In [24]:
game_season_2017_team = game_season_2017_team.merge(teams_data, left_on="HOME_TEAM_ID", right_on="TEAM_ID", how="left")

In [25]:
game_season_2017_team

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,PTS_away,TEAM_ID_x,ABBREVIATION_x,NICKNAME_x,CITY_x,TEAM_ID_y,ABBREVIATION_y,NICKNAME_y,CITY_y
0,21701054,1610612748,1610612743,2017,149.0,141.0,1610612748,MIA,Heat,Miami,1610612748,MIA,Heat,Miami

Agora conseguimos saber que o time "Miami Heat" foi o time que marcou o maior placar na temporada 2017.
Mas agora, curiosidade, qual o time que mais marcou na temporada? somando todos os jogos

In [26]:
game_season_2017_all_games = game_season_2017.merge(teams_data, left_on="HOME_TEAM_ID", right_on="TEAM_ID", how="left")

In [27]:
game_season_2017_all_games.sample()

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,PTS_away,TEAM_ID,ABBREVIATION,NICKNAME,CITY
637,21700681,1610612762,1610612746,2017,125.0,113.0,1610612762,UTA,Jazz,Utah

In [28]:
game_season_2017_all_games = game_season_2017_all_games.merge(teams_data, left_on="VISITOR_TEAM_ID", right_on="TEAM_ID", how="left", suffixes=("_home", "_visitors"))

In [25]:
game_season_2017_all_games.sample(3)

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,PTS_away,TEAM_ID_home,ABBREVIATION_home,NICKNAME_home,CITY_home,TEAM_ID_visitors,ABBREVIATION_visitors,NICKNAME_visitors,CITY_visitors
1206,21700115,1610612762,1610612757,2017,112.0,103.0,1610612762,UTA,Jazz,Utah,1610612757,POR,Trail Blazers,Portland
59,41700173,1610612762,1610612760,2017,115.0,102.0,1610612762,UTA,Jazz,Utah,1610612760,OKC,Thunder,Oklahoma City
895,21700413,1610612737,1610612765,2017,91.0,105.0,1610612737,ATL,Hawks,Atlanta,1610612765,DET,Pistons,Detroit

In [32]:
home_group = game_season_2017_all_games.groupby("TEAM_ID_home", as_index=False).agg({"PTS_home": "sum"})
home_group = home_group.rename(columns={"PTS_home": "PTS", "TEAM_ID_home": "TEAM_ID"})
home_group.sample(4)

       TEAM_ID     PTS
11  1610612748  4822.0
28  1610612765  4655.0
0   1610612737  4489.0
21  1610612758  4317.0

In [31]:
game_season_2017_all_games.groupby("TEAM_ID_home", as_index=False).agg({"PTS_home": "sum"})

    TEAM_ID_home  PTS_home
0     1610612737    4489.0
1     1610612738    5691.0
2     1610612739    5998.0
3     1610612740    5217.0
4     1610612741    4549.0
5     1610612742    4580.0
6     1610612743    4662.0
7     1610612744    6216.0
8     1610612745    5868.0
9     1610612746    4910.0
10    1610612747    4864.0
11    1610612748    4822.0
12    1610612749    4888.0
13    1610612750    4900.0
14    1610612751    4678.0
15    1610612752    4684.0
16    1610612753    4564.0
17    1610612754    4697.0
18    1610612755    5424.0
19    1610612756    4436.0
20    1610612757    4794.0
21    1610612758    4317.0
22    1610612759    4858.0
23    1610612760    4985.0
24    1610612761    5410.0
25    1610612762    4898.0
26    1610612763    4432.0
27    1610612764    4974.0
28    1610612765    4655.0
29    1610612766    4718.0

In [33]:
visitors_group = game_season_2017_all_games.groupby("TEAM_ID_visitors", as_index=False).agg({"PTS_away": "sum"})
visitors_group = visitors_group.rename(columns={"PTS_away": "PTS", "TEAM_ID_visitors": "TEAM_ID"})
visitors_group.shape

(30, 2)

In [34]:
team_point = pd.concat([home_group, visitors_group])
team_point.shape

(60, 2)

In [36]:
team_point = team_point.groupby("TEAM_ID", as_index=False).agg({"PTS": "sum"})

In [37]:
team_point.shape

(30, 2)

In [42]:
max_point = max(team_point["PTS"])

In [43]:
max_point

12079.0

In [45]:
team_point_max = team_point.loc[(team_point["PTS"] > 5000) | (team_point["PTS"] < 10000)]
team_point_max

       TEAM_ID      PTS
0   1610612737   8955.0
1   1610612738  10880.0
2   1610612739  11812.0
3   1610612740  10560.0
4   1610612741   9045.0
5   1610612742   9006.0
6   1610612743   9549.0
7   1610612744  12079.0
8   1610612745  11416.0
9   1610612746   9462.0
10  1610612747   9457.0
11  1610612748   9592.0
12  1610612749   9842.0
13  1610612750   9817.0
14  1610612751   9194.0
15  1610612752   9054.0
16  1610612753   9073.0
17  1610612754   9667.0
18  1610612755  10631.0
19  1610612756   8943.0
20  1610612757   9645.0
21  1610612758   8648.0
22  1610612759   9443.0
23  1610612760   9746.0
24  1610612761  10776.0
25  1610612762  10003.0
26  1610612763   8666.0
27  1610612764   9816.0
28  1610612765   9026.0
29  1610612766   9382.0

In [45]:
team_point_max = team_point_max.merge(teams_data, on="TEAM_ID", how="left")

In [46]:
teams_data

       TEAM_ID ABBREVIATION       NICKNAME           CITY
0   1610612737          ATL          Hawks        Atlanta
1   1610612738          BOS        Celtics         Boston
2   1610612740          NOP       Pelicans    New Orleans
3   1610612741          CHI          Bulls        Chicago
4   1610612742          DAL      Mavericks         Dallas
5   1610612743          DEN        Nuggets         Denver
6   1610612745          HOU        Rockets        Houston
7   1610612746          LAC       Clippers    Los Angeles
8   1610612747          LAL         Lakers    Los Angeles
9   1610612748          MIA           Heat          Miami
10  1610612749          MIL          Bucks      Milwaukee
11  1610612750          MIN   Timberwolves      Minnesota
12  1610612751          BKN           Nets       Brooklyn
13  1610612752          NYK         Knicks       New York
14  1610612753          ORL          Magic        Orlando
15  1610612754          IND         Pacers        Indiana
16  1610612755          PHI          76ers   Philadelphia
17  1610612756          PHX           Suns        Phoenix
18  1610612757          POR  Trail Blazers       Portland
19  1610612758          SAC          Kings     Sacramento
20  1610612759          SAS          Spurs    San Antonio
21  1610612760          OKC        Thunder  Oklahoma City
22  1610612761          TOR        Raptors        Toronto
23  1610612762          UTA           Jazz           Utah
24  1610612763          MEM      Grizzlies        Memphis
25  1610612764          WAS        Wizards     Washington
26  1610612765          DET        Pistons        Detroit
27  1610612766          CHA        Hornets      Charlotte
28  1610612739          CLE      Cavaliers      Cleveland
29  1610612744          GSW       Warriors   Golden State

In [54]:
teams_data.loc[(teams_data["CITY"].str.startswith("D")) & (teams_data["NICKNAME"].str.endswith("ts"))]

      TEAM_ID ABBREVIATION NICKNAME    CITY
5  1610612743          DEN  Nuggets  Denver

In [46]:
team_point_max

      TEAM_ID      PTS ABBREVIATION  NICKNAME          CITY
0  1610612744  12079.0          GSW  Warriors  Golden State

Com isso podemos concluir que o time dos Golden State Warrior foi o time com maior some de pontos em toda a temporada de 2017

In [56]:
team_point.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TEAM_ID  30 non-null     int64
 1   PTS      30 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 720.0 bytes

In [48]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB