In [1]:
import pandas as pd

In [2]:
after_april = pd.read_csv("./datasets/CSV_Vacinas_1106/CSV_Vacinas.csv", sep=';')
april = pd.read_csv("./datasets/CSV_Vacinas_1106/CSV_Vacinas_Abril.csv", sep=';')
trimester = pd.read_csv("./datasets/CSV_Vacinas_1106/CSV_Vacinas_1Trimeste.csv", sep=';', usecols=["MUNICIPIO_RESIDENCIA", "URS", "MICRO", "MACRO", "CodigoIBGE", "Data", "Grupo", "Dose", "Doses Aplicadas"])

/Users/eduardagoulart/.pyenv/versions/3.8.0/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (0,1,2,3,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
after_april.sample()

,MUNICIPIO_RESIDENCIA,URS,MICRO,MACRO,CodigoIBGE,Data,Grupo,Dose,Doses Aplicadas
307777,Santo Ant�nio do Amparo,Divin�polis,Oliveira/Sto Ant. Amparo,OESTE,315990,17/05/2021,FUNCION�RIOS DO SISTEMA DE PRIVA��O DE LIBERDADE,PRIMEIRA DOSE,0.0

In [4]:
april.sample()

,MUNICIPIO_RESIDENCIA,URS,MICRO,MACRO,CodigoIBGE,Data,Grupo,Dose,Doses Aplicadas
385391,Santana dos Montes,Barbacena,CONSELHEIRO LAFAIETE,CENTRO SUL,315910,26/04/2021,FUNCION�RIOS DO SISTEMA DE PRIVA��O DE LIBERDADE,SEGUNDA DOSE,0.0

In [5]:
trimester.sample()

,MUNICIPIO_RESIDENCIA,URS,MICRO,MACRO,CodigoIBGE,Data,Grupo,Dose,Doses Aplicadas
19409,Rio Manso,Belo Horizonte,BETIM,CENTRO,315530.0,26/01/2021,PESSOAS DE 90 ANOS OU MAIS,PRIMEIRA DOSE,0.0

In [6]:
df = pd.concat([after_april, april, trimester])

In [7]:
df.dropna(axis=0, how='all', inplace=True)

In [8]:
df.sample(3)

,MUNICIPIO_RESIDENCIA,URS,MICRO,MACRO,CodigoIBGE,Data,Grupo,Dose,Doses Aplicadas
692603,Uba�,Janu�ria,Bras�lia de Minas/S. Francisco,NORTE,317000.0,01/06/2021,PESSOAS DE 65 A 69 ANOS,SEGUNDA DOSE,0.0
578643,Goiabeira,Governador Valadares,RESPLENDOR,LESTE,312737.0,27/05/2021,PESSOAS DE 80 A 84 ANOS,PRIMEIRA DOSE,0.0
435442,Joaquim Fel�cio,Montes Claros,BOCAI�VA,NORTE,313640.0,21/05/2021,PESSOAS DE 80 A 84 ANOS,PRIMEIRA DOSE,0.0

In [9]:
df["MUNICIPIO_RESIDENCIA"] = df["MUNICIPIO_RESIDENCIA"].str.lower()

In [10]:
sjdr = df.loc[df["MUNICIPIO_RESIDENCIA"].str.contains("del rei")]

In [11]:
sjdr.sample()

,MUNICIPIO_RESIDENCIA,URS,MICRO,MACRO,CodigoIBGE,Data,Grupo,Dose,Doses Aplicadas
470732,s�o jo�o del rei,S�o Jo�o Del Rei,S�O JO�O DEL REI,CENTRO SUL,316250.0,15/03/2021,PESSOAS COM DEFICI�NCIA EM RESID�NCIAS INCLUSIVAS,SEGUNDA DOSE,0.0

In [12]:
sjdr_doses = sjdr.groupby("Dose").agg({"Doses Aplicadas": "sum"})

In [13]:
sjdr_doses

               Doses Aplicadas
Dose
PRIMEIRA DOSE          27074.0
SEGUNDA DOSE           12330.0

In [14]:
sjdr = sjdr.sort_values("Data")

In [15]:
sjdr

,MUNICIPIO_RESIDENCIA,URS,MICRO,MACRO,CodigoIBGE,Data,Grupo,Dose,Doses Aplicadas
86029,s�o jo�o del rei,S�o Jo�o Del Rei,S�O JO�O DEL REI,CENTRO SUL,316250.0,01/02/2021,IDOSOS EM ILPI,PRIMEIRA DOSE,0.0
84323,s�o jo�o del rei,S�o Jo�o Del Rei,S�O JO�O DEL REI,CENTRO SUL,316250.0,01/02/2021,IND�GENAS ALDEADOS,PRIMEIRA DOSE,0.0
85176,s�o jo�o del rei,S�o Jo�o Del Rei,S�O JO�O DEL REI,CENTRO SUL,316250.0,01/02/2021,IND�GENAS ALDEADOS,SEGUNDA DOSE,0.0
86882,s�o jo�o del rei,S�o Jo�o Del Rei,S�O JO�O DEL REI,CENTRO SUL,316250.0,01/02/2021,IDOSOS EM ILPI,SEGUNDA DOSE,0.0
87735,s�o jo�o del rei,S�o Jo�o Del Rei,S�O JO�O DEL REI,CENTRO SUL,316250.0,01/02/2021,PESSOAS COM DEFICI�NCIA EM RESID�NCIAS INCLUSIVAS,PRIMEIRA DOSE,0.0
...,...,...,...,...,...,...,...,...,...
660951,s�o jo�o del rei,S�o Jo�o Del Rei,S�O JO�O DEL REI,CENTRO SUL,316250.0,31/05/2021,POVOS E COMUNIDADES TRADICIONAIS QUILOMBOLAS,PRIMEIRA DOSE,0.0
660098,s�o jo�o del rei,S�o Jo�o Del Rei,S�O JO�O DEL REI,CENTRO SUL,316250.0,31/05/2021,POVOS E COMUNIDADES TRADICIONAIS RIBEIRINHAS,SEGUNDA DOSE,0.0
659245,s�o jo�o del rei,S�o Jo�o Del Rei,S�O JO�O DEL REI,CENTRO SUL,316250.0,31/05/2021,POVOS E COMUNIDADES TRADICIONAIS RIBEIRINHAS,PRIMEIRA DOSE,0.0
674599,s�o jo�o del rei,S�o Jo�o Del Rei,S�O JO�O DEL REI,CENTRO SUL,316250.0,31/05/2021,PESSOAS COM DEFICI�NCIA PERMANENTE (18 A 59 AN...,PRIMEIRA DOSE,0.0
675452,s�o jo�o del rei,S�o Jo�o Del Rei,S�O JO�O DEL REI,CENTRO SUL,316250.0,31/05/2021,PESSOAS COM DEFICI�NCIA PERMANENTE (18 A 59 AN...,SEGUNDA DOSE,0.0

In [16]:
ax = sns.violinplot(x="Dose", y="Doses Aplicadas", data=sjdr)

NameError: name 'sns' is not defined

In [ ]:
df_doses = df.groupby(["MUNICIPIO_RESIDENCIA", "Dose"]).agg({"Doses Aplicadas": "sum"})

In [ ]:
df_doses

In [ ]:
df_doses_aplicadas = df_doses.reset_index()

In [ ]:
doses_aplicadas_sum = df_doses_aplicadas.groupby("MUNICIPIO_RESIDENCIA").agg({"Doses Aplicadas": "sum"})

In [ ]:
doses_aplicadas_sum

In [ ]:
doses_aplicadas_sum.sort_values("Doses Aplicadas").tail(5)

In [ ]:
doses_aplicadas_sum.sort_values("Doses Aplicadas").head(5)

In [ ]:
melhores_municipios = ["montes claros", "contagem", "uberl�ndia", "juiz de fora", "belo horizonte"]
piores_municipios = ["serra da saudade", "cedro do abaet�", "dores�polis", "s�o sebasti�o do rio preto", "serranos"]
municipios = melhores_municipios + piores_municipios

In [ ]:
municipios
municipios.append("s�o jo�o del rei")

In [ ]:
df_doses_aplicadas = df_doses_aplicadas.loc[df_doses_aplicadas["MUNICIPIO_RESIDENCIA"].isin(municipios)]

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

sns.factorplot(x = 'MUNICIPIO_RESIDENCIA', y='Doses Aplicadas', 
               hue = 'Dose',data=df_doses_aplicadas, kind='bar', height=5)


plt.xticks(rotation=90)
plt.show()