## O quê é um DataFrame?

Pandas é uma biblioteca Python para análise de dados. Ela prove funcionalidades tais como: criação, carga, manipulação, alinhamento, merge, entre outras.

No geral, Pandas conta com dois principais tipos de dados: DataFrame e as Series. Um DataFrame é um tipo tabular de dados, parece bastante como uma tabela SQL. Por outro lado, Series é uma coluna única de um DataFrame.

In [1]:
# Como toda biblioteca, primeiro a gente precisa importar (uma abreviação bem comum é importar pandas como pd)
import pandas as pd

#### Criando uma Series

In [3]:
data = {'a': 1, 'b': 2, 'c': 3}
serie = pd.Series(data=data, index=['a', 'b', 'c'])

In [4]:
serie

a    1
b    2
c    3
dtype: int64

In [6]:
# index não exisente
serie_vazia = pd.Series(data=data, index=['x', 'y', 'z'])

In [7]:
serie_vazia

x   NaN
y   NaN
z   NaN
dtype: float64

In [8]:
# sem passar index
serie = pd.Series(data=data)

In [9]:
serie

a    1
b    2
c    3
dtype: int64

In [18]:
data = {'a': '1', 'b': '2', 'c': '3'}
serie = pd.Series(data=data)

In [19]:
serie.dtype

# data type 'o' em Pandas significa objeto

dtype('O')

In [14]:
serie = pd.Series(data=data, dtype='int')

/Users/eduardagoulart/Documents/study/pandas_study/.pandas_env/lib/python3.6/site-packages/numpy/core/numeric.py:2378: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return bool(asarray(a1 == a2).all())

In [15]:
serie.dtype

dtype('int64')

#### Criando um DataFrame

Parâmetros importantes:
- data (não exigido): pode ser um array, dicionário ou até mesmo um DataFrame
- index (não exigido): um array com os valores para index 
- columns (não exigido): um array com os nomes para colunas
- dtypes (não exigido): dtype para forçar que um tipo de dados

In [20]:
df = pd.DataFrame()

In [22]:
# Como podemos ver acima, nenhum parâmetro é necessário na criação de um DataFrame
# Isso significa que podemos criar um dataFrame vazio
df

Empty DataFrame
Columns: []
Index: []

In [23]:
df = pd.DataFrame(columns=['a', 'b', 'c'])

In [24]:
# Este DataFrame conta com apenas os valores de coluna, mas nenhum dado relacionado
# a cada coluna em si
df

Empty DataFrame
Columns: [a, b, c]
Index: []

In [26]:
df = pd.DataFrame(data=[[1, 2, 3], [2, 8, 7], [9, 4, 1]], columns=['a', 'b', 'c'])

In [27]:
# Agora sim vemos que cada coluna possui valores
# Passamos para o parâmetro `data` uma lista de listas
# cada sub lista será relacionada à uma coluna referente à ordem
# em que foram declaradas. i.e coluna "a": [1, 2, 3]
df

   a  b  c
0  1  2  3
1  2  8  7
2  9  4  1

In [28]:
df = pd.DataFrame(data={'b': [1, 2, 3], 'c': [2, 8, 7], 'a': [9, 4, 1]})

In [29]:
# quando queremos que os dados estejam relacionados à outra coluna
# pode-se utilizar a estrutura de dados "dicionário" para a criação do dataFrame

# Agora, cada chave do dicionário é uma coluna, e cada valor (lista) são os valores daquela coluna
df

   b  c  a
0  1  2  9
1  2  8  4
2  3  7  1

In [31]:
# retorna os index do dataFrame. Valor de início, fim e steps
df.index

RangeIndex(start=0, stop=3, step=1)

In [33]:
# retorna uma lista com as colunas
df.columns

Index(['b', 'c', 'a'], dtype='object')

In [34]:
# uma lista de listas com os valores do DataFrame
df.values

array([[1, 2, 9],
       [2, 8, 4],
       [3, 7, 1]])