In [1]:
import pandas as pd

In [4]:
# Lendo CSV file
df = pd.read_csv("./datasets/ramen-ratings.csv")
df.sample()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
12,2568,Nongshim,Mr. Bibim Stir-Fried Kimchi Flavor,Pack,South Korea,4.25,NaN

### Leitura de CSV

Parâmetros:

    @filepath_or_buffer: string com o path+name.extension do arquivo
    
    @sep: string com o valor para separar colunas do arquivo. A maioria dos arquivos csv utilizam "," como separador, entāo por default, este é o valor do parâmetro
    
    @header: uma lista com quais valores serāo o cabeçalho do DF
    
    ...
    
    
    
    
    
read_csv possui vários parametros, os demais podem ser encontrados aqui: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

### Leitura de json

In [22]:
df = pd.read_json("./datasets/Musical_Instruments_5.json", lines=True)
# lines lê cada linha no json como uma linha do DF.
# cada json key é a coluna e as linhas sao adicionadas à aquela coluns
df.sample()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
7934,B003GEBGA0,"[0, 0]",5,great microphone at a very good rice,"07 5, 2014",AH0XON4XDOF2C,christopher Lamothe,super mic,1404518400

### Leitura de Parquet

Ainda é pouco utilizado, mas parquet é um formato de arquivo muito útil em BigData, pois o tempo de leitura e escrita é melhor que CSV, além de ser bem menor devido ao fato de escrever em formato colunas e em binário.

Mais informaçōes: https://databricks.com/glossary/what-is-parquet#:~:text=Parquet%20is%20optimized%20to%20work,therefore%20greatly%20minimizing%20the%20IO.

In [25]:
df = pd.read_parquet("./datasets/anime.parquet")

df.sample()

      anime_id              name     genre   type episodes  rating  members
7575     30330  Utsukushii Hoshi  Dementia  Movie        1    5.28      114